/* = = = = = = = = = = Post-Card (homepage) = = = = = = = = = = */
.post-card-box {
  margin: 50px 0 15px;
  padding: 0;

  li {
    position: relative;
    list-style: none;
    float: left;
    width: 50%;
  }
}

.post-card {
  position: relative;
  margin: 0px 5px 5px 0;
}

.post-card-image {
  display: block;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .15);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

.post-card:hover {
  .post-card-image::after {
    background: rgba(0, 0, 0, 0);
  }

  .post-card-body {
    background-color: #000000bf;
  }
}

.post-card-body {
  position: absolute;
  left: 5%;
  bottom: 5%;
  background-color: #00000099;
  padding-left: 5px;
  width: 95%
}

.post-card-tags {
  font-size: 10px
}

.tag {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
    color: var(--grey4);
  }
}

.post-card-title-and-meta {
  margin: 0;
  color: white;
  line-height: 1.2;
}

.post-card-link {
  text-decoration: none;
  font-family: var(--font2), sans-serif;
  font-weight: var(--font2-bold);
  text-transform: uppercase;
  color: white;

  &:hover {
    opacity: .75;
    color: var(--grey4);
  }
}

/* = = = = post's read time and date (meta data) = = = = */
.post-card-meta {
  font-size: .6em;
  white-space: nowrap;
  display: block;
  padding-top: 4px;

  i {
    display: none;
  }
}

.recent-item-meta {
  padding-left: 5px;
  font-size: 8px;
  display: block;

  p {
    margin-block-start: 0;
    margin-block-end: 4px;
  }
}

.meta-pre {
  padding-left: 5px;
  padding-right: 5px
}

.meta-sep::before {
  content: "\07C";
  padding-left: 5px;
  padding-right: 5px;
}

.page_meta {
  display: flex;
  color: var(--grey2);
  font-size: .9em;
}