/* = = = = = = = = = = to top button = = = = = = = = */
.top {
  position: fixed;
  bottom: 62px;
  right: -100px;
  z-index: 1;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  border-radius: 100px;
  color: var(--main);
  border: 1px solid var(--main);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &.is-active {
    right: 40px;
  }

  &:hover {
    color: var(--accent);
    border-color: var(--accent);
  }

  svg {
    display: inline-block;
    height: 25px;
    vertical-align: text-top;
  }
}

@media (max-width: 768px) {
  .top.is-active {
    right: 10px;
  }
}

/* = = = = = = = = = = Post's comments = = = = = = = = = = */
.hide {
  display: none
}

#comment-layout {
  display: none;

  &.show {
    display: block
  }
}

.comments {
  margin-bottom: 2em;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.comments-trigger {
  position: relative;
  background: var(--grey5);
  color: var(--grey1);
  outline: 0;
  display: block;
  padding: 30px;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
}

/* = = = = = = = = = = Left sidebar  = = = = = = = = = = */
.sidebar.side .tag-cloud {
  display: none;
}

ul.tags {
  justify-content: center;
}

a.tag {
  line-height: 1;
  white-space: pre-wrap;
  text-align: center;

  &.side {
    padding: 3px 0px 3px 0px;
  }
}

.share-options {
  cursor: default;

  &.inline {
    text-align: center;
    margin-bottom: 1.5em
  }
}

.share-button {
  margin-right: 3px;
  color: var(--accent-dark);
  vertical-align: top;
}

.share-icons {
  display: inline;
  vertical-align: middle;

  a {
    display: inline-block;
    color: var(--grey3);
    margin: 0 2% 10px 2%;
    font-size: 1.2em;
    -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    cursor: pointer;

    &:hover {
      transform: scale(1.3)
    }
  }
}

.sidebar.inline {
  border-bottom: 1px solid var(--grey4);
}

.separator {
  display: none;
  background-color: var(--grey4);
  width: 100%;
  height: 1px;
  margin-top: 2em
}

@media (min-width: 64em) {
  .sidebar.side {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 32px;
    width: 115px;
    margin-left: -135px;
    float: left;

    .tag-cloud {
      display: block;
    }
  }

  ul.tags.side {
    display: block;
  }

  .share-options.side {
    width: 20px;
    margin: auto;
    cursor: pointer;
    margin-right: 55px;
  }

  .share-icons.side {
    display: block;
    transition: all 1s ease-out;
    max-height: 0;
    clip-path: inset(0);
  }

  .share-hover:hover>#sidebar-icons {
    transition: all 0.5s ease-in;
    max-height: 100vh;
    clip-path: inset(-100vh -100vw);
  }

  .sidebar.inline {
    display: none
  }

  .separator {
    display: block
  }
}

/* = = = = = = = = = = Right Sidebar TOC  = = = = = = = = = = */
aside.toc {
  line-height: 1.4;
  font-size: .5em;
  font-family: sans-serif;
  font-weight: var(--font1-bold);
  width: max-content;
  max-width: 480px;
}

.toc-title {
  padding: 5px;
  color: var(--accent);
  display: none;

  svg {
    width: 25px;
    margin-bottom: 1em
  }
}

path.fa-secondary {
  opacity: 0.4;
}

.toc-content {
  list-style: none;
  margin-top: 3px;
  margin: 0;
  padding-inline-start: 0px;

  a {
    text-decoration: none;
    padding: 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.toc-item-1 {
  padding: 8px 0 8px 0;
}

.toc-sign {
  float: right;
  width: 10px;
  cursor: pointer;
  color: var(--text);
  margin-right: 8px;

  &:hover {
    color: var(--grey2)
  }
}

.toc-submenu-1 {
  padding-inline-start: 0px;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-top: 8px;

  a {
    color: var(--grey1);
    font-weight: var(--font1-regular);
  }
}

.toc-item-2,
.toc-item-3,
toc-item-4,
.toc-item-5,
.toc-item-6 {
  padding: 8px 0px 8px;
}

.toc-submenu-2,
.toc-submenu-3,
.toc-submenu-4,
.toc-submenu-5 {
  padding-inline-start: 5px;
  list-style: none;
}

.toc .active {
  background-color: var(--grey5)
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--grey4)
}

@media (min-width: 1200px) {
  aside.toc {
    position: -webkit-sticky;
    position: sticky;
    top: 32px;
    width: 180px;
    margin-right: -210px;
    float: right;
  }

  .toc-content {
    max-height: calc(100vh - 7em);
    overflow: scroll;
  }
}

/* = = = = = = = = = = Github Link Button = = = = = = = = = = */
.center-container {
  display: flex;
  overflow-x: visible;
}

.github-button {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 3px 10px 3px 10px;
  will-change: transform;
  font-size: 13px;
  border: 1px solid var(--main);
  border-radius: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  height: 28px;
  flex-flow: nowrap;
  white-space: nowrap;
  overflow-x: visible;

  &:hover,
  &:focus {
    border: 1px solid var(--accent);
    cursor: pointer;

    > a,
    > .button-icon {
      color: var(--accent);
    }
  }
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  display: block;
  float: left;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  color: var(--main);

  > svg {
    vertical-align: super;
  }
}

.github-button a {
  font-family: var(--font2);
  white-space: nowrap;
  text-decoration: none;
  color: var(--main);
}



/* = = = = = = = = = = Tweet = = = = = = = = = = = = */
tweet {
  display: block;
  cursor: pointer;
  border-left: 5px solid var(--accent);
  padding-left: 1em;
  padding-right: 0.5em;
  margin-left: 2.5em;
  font-family: var(--font2);
  background: var(--grey5);
  font-weight: var(--font2-bold);
  margin-bottom: 2em;
  font-size: .9em;

  &:hover {
    opacity: 0.85;
  }

  a {
    text-decoration: none;
  }
}

.tweetText {
  display: block;
}

.tweetIcon {
  display: block;
  float: right;
  font-weight: bold;
  font-size: 0.6em;
  line-height: 100%;
  margin: 0 3px;
  padding: 3px 5px 3px 3px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  i {
    font-size: 1 em;
    padding: 0 0 0 0.5em;
  }
}

@media only screen and (max-width: 768px) {
  tweet {
    margin-left: 0;
  }
}

/* = = = = = = = = = = Post Page  = = = = = = = = = = */
span#github-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.github-btn {
  font: 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 30px;
}

.gh-btn {
  padding: 3px 10px 3px 8px;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  will-change: transform;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
  transition: 0.25s;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
    border-color: #ccc;
    box-shadow: 0 0.5em 0.5em -0.4em #545454;
    transform: translateY(-0.25em);
  }

  &:active {
    background-image: none;
    background-color: #dcdcdc;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5em 0.5em -0.4em #545454;
    transform: translateY(-0.25em);
  }
}

.gh-btn,
.gh-ico {
  float: left;
}

.gh-ico {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(/assets/img/github_icon.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.page-buttons {
  margin-bottom: 1em;
}

.page-image {
  position: relative;
  padding: 0;
  margin: 0;
  height: 500px;
  background-color: var(--background);
  overflow: hidden;

  .cover-image {
    height: 100%;
    width: 100%;
  }
}

.page-content {
  margin: auto;
  margin-top: -80px;
  background-color: var(--background);
  padding: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px var(--shadow);
  box-shadow: 0px 2px 4px var(--shadow);
  max-width: 900px;

  img {
    display: block;
    margin: auto;
  }
}

/* full width image in posts */
img[src$="#full"] {
  max-width: none;
  width: 100vw;
}

/* Image captions
Usage (in markdown):
![img](/some/image.jpg)
<small>Your image caption</small>
*/
img+small,
img+br+small {
  display: block;
  font-size: .6em;
  color: var(--grey1);
  margin-bottom: 1.5em;
  text-align: center;
  font-style: italic;
}

.header-page {
  position: relative;
  margin-bottom: 1em;

  h1 {
    font-weight: var(--font2-regular);
    font-size: 2.25rem;
    text-align: left;
    margin: 0 0 10px;
    color: var(--text)
  }

  .page-date {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--font1-light);
  }
}

.post-page-meta {
  font-size: .8em;
}

.page-footer {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;

  .page-tag,
  .page-share {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--accent-dark);
  }

  .page-tag {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: var(--accent);

      &:hover {
        opacity: .8;
      }
    }
  }

  .page-share a {
    text-decoration: none;
    color: var(--grey2);
    margin-left: 10px;
    font-size: 18px;

    &:hover {
      opacity: .8;
    }
  }
}

.recent-box {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--grey4)
}

.recent-list {
  font-size: 0.7em
}

.recent-item {
  display: inline;

  &:hover .recent-item-img::after {
    background: rgba(0, 0, 0, 0);
  }

  &:hover .recent-item-title {
    background-color: #000000bf
  }
}

.recent-item-img {
  position: relative;
  display: inline-block;
  width: 24%;
  height: 150px;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .15);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

.recent-item-title {
  position: absolute;
  left: 2.5%;
  bottom: 2.5%;
  width: 97.5%;
  font-size: 12px;
  font-family: var(--font2), sans-serif;
  font-weight: var(--font2-bold);
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #00000099;
  padding-left: 5px;
}

.newsletter {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--grey4);
}

.page-subtitle {
  font-weight: var(--font2-regular);
  text-align: center;
  margin: 0 0 30px;
}

.newsletter .form-container {
  padding: 30px;
  background-color: var(--grey5);
  width: 720px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;

  p {
    margin: 0;
  }
}

.newsletter .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.newsletter .newsletter-box {
  position: relative;
  max-width: 100%;
  margin: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  .email-input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 40px;
    padding: 8px 10px;
    width: 100%;
    max-width: 100%;
    color: var(--text);
    background-color: var(--background);
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    outline: none;
  }

  .subscribe-btn {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    color: var(--background);
    background-color: var(--accent-dark);
    vertical-align: baseline;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;

    &:hover {
      background-color: var(--accent);
      color: white;
    }
  }
}

/* = = = = Post Lists  = = = = = = = = = = */
.tag-master h1 {
  color: var(--grey4);
  text-transform: lowercase;
}

.list-group {
  border-top: 1px solid var(--grey4);
  padding: 5px 10px;
  margin-bottom: 10px
}

.list-group-title {
  margin-bottom: 5px;
  font-size: .75em;

  a {
    color: var(--text);
    text-transform: lowercase;
    font-family: var(--font2);
    font-weight: var(--font2-bold);
  }
}

.list-item {
  margin-bottom: 20px;

  a {
    display: block;
    text-decoration: none;
    color: var(--main);
    font-size: 1.25em;
    font-weight: var(--font2-light);
    font-family: var(--font2);

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--grey4);
    }
  }
}

.post:not(:last-child) {
  border-bottom: 1px solid var(--grey4);
  margin-bottom: 1.5em;
  padding-bottom: 1em
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  display: none;
}

.post img {
  display: none;
}

a.post-list-title {
  text-decoration: none;
  font-family: var(--font2);
  font-weight: var(--font2-bold);
  font-size: 2em;
}

a.read-more {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* = = = Social Share Icon Colors = = = */
.twitter:hover {
  color: #1DA1F2
}

.facebook:hover {
  color: #4267B2
}

.reddit:hover {
  color: #ff4500
}

.linkedin:hover {
  color: #0072b1
}

.email:hover {
  color: #66ab6b
}

.bandcamp:hover {
  color: #629aa9
}

.stackoverflow:hover {
  color: #f48024
}

.github:hover {
  color: var(--github)
}

.copy-link:hover {
  color: var(--accent)
}