.blog-tags {
  margin: 100px 0 100px;
  h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0 0 30px;
    color: $dark-purple;
  }
  .tags {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: inline-block;
        color: $dark-purple;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  .tag-list {
    span {
      a {
        display: inline-block;
        color: $dark-pink;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 10px;
        &:hover {
          text-decoration: underline;
          opacity: .8;
        }
      }
    }
    small {
      color: $dark-purple;
    }
  }
}

.center-tags .tag-cloud ul.tags {
    display: flex;
    justify-content: center;
    align-items: center
}
div.tag-cloud{
    margin-bottom: 1em;
}
.tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.tags li a {
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    color: var(--grey1) !important;
    border: 2px solid transparent;
    background: var(--grey5);
    border-radius: 15px;
    padding: 3px 15px;
    font-family: var(--font2);
    font-weight: var(--font2-regular);
    display: block;
    text-transform: lowercase}
.tags li a:hover {
    background: var(--accent);
    color: white !important;
    text-decoration: none}